html, body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.jumbotron{
    margin-top: 6rem;
}

.page-header h2 {
    text-shadow: 1px 2px black;
    font-weight: 700;
}

#btn-video{
    text-shadow: none;
    margin-top: 6rem;
}

.fullscreen-bg {
    position: fixed;
    z-index: -100;
}

#fullscreen-bg__video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

nav {
    background: linear-gradient(to right, rgb(12, 6, 65), rgb(121, 175, 255), rgb(66, 62, 102));
}

#wrapper{
    position: relative;
    height:auto;
    background-image: url(../images/wrapper-back2.png);
    margin-right: 0;
    margin-left: 0;
}

#search{
    background-color: rgba(0, 0, 0, 0.7);
    height: 95%;
    width: 95%;
    margin: 5%;
    /* text-align: center; */
}

form input {
    color: black !important;
    background-color: rgba(255, 255, 255, 0.7) !important;
    font-size: 1rem !important;
}

h3 {
    font-family: "Oswald", Arial, Helvetica, sans-serif;
}

.section-title {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.form-control{
    width: 500px;
}

#home{
    height:670px;
}

.card-body{
    align-content: center;
}

.button {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 250px;
    height: 42px;
    cursor: I-beam;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 20px;
    overflow: hidden;
    border: none;
    -webkit-border-radius: 21px;
    border-radius:10px;
    font: normal 20px/normal "Antic", Helvetica, sans-serif;
    color: rgba(140, 140, 140, 1);
    text-decoration: normal;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: rgba(40, 40, 40, 0.4);
    -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5) inset;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5) inset;
    -webkit-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -moz-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -o-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}
  
.button:hover {
    width: 350px;
    opacity: 0.82;
    color: rgba(181, 181, 181, 1);
    background: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -moz-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -o-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}
  
.button:focus {
    width: 490px;
    cursor: default;
    padding: -13px 20px 0;
    color: rgba(255, 255, 255, 1);
    -webkit-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -moz-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -o-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}
  
.text {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal 25px/1 "amaranth", Helvetica, sans-serif;
    color: rgb(25, 196, 226)fff;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
  
input:focus {
    outline: none;
}

#go-up {
    background-color: black;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 35px;
    right: 15px;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    z-index: 100;
}

#five-more {
    position: fixed;
    bottom: 80px;
    right: 15px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: 700;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    z-index: 100;
}

.search-results {
    margin-bottom: 1rem;
}

.event-div {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.5rem 0;
}

.event-index {
    top: -20px;
    left: 20vw;
    font-weight: 700;
    font-size: 7rem;
    color: rgba(0, 0, 0, 0.1);
}

.event-date, .event-venue {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    margin: 0 0 10px 0;
}

.event-location {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin: -12px 0 0 0;
}

.event-tickets {
    background: linear-gradient(to right, rgb(12, 6, 65), rgb(121, 175, 255)) !important;
    border: 1px solid rgb(12, 52, 54);
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 0.2rem 0.7rem;
}

.event-tickets:hover {
    text-decoration: none;
    color: rgb(1, 252, 243);
    box-shadow: 2px 2px black;
}